<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="http://192.168.0.66:9003/" />
    <add key="UserName" value="丛敏" />
    <add key="PassWord" value="Dzl123wuh" />
    <add key="portName" value="COM1" />
    <add key="baudRate" value="9600" />
    <add key="dataBit" value="8" />
    <add key="stopBit" value="1" />
    <add key="parity" value="0" />
    <!--<add key="TerminalState" value="报废" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Printer" value="TSC" />
    <!--<add key="Printer" value="Argox" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>